@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --bg: 218 100% 97%;
    --borders: 231 23% 87%;
    --denim: 213 96% 18%;
    --grey: 231 11% 63%;
    --light-grey: 229 24% 87%;
    --very-light-grey: 231 100% 99%;
    --sky-blue: 206 94% 87%;
    --light-blue: 228 100% 83%;
    --red-error: 354 84% 57%;
    --white: 0 0% 100%;
    --purple: 243 100% 62%;

    /* Border radius */
    --rounded-full: 50%;
    --rounded-sm: 0.5rem;
    --rounded-md: 0.625rem;
    --rounded-lg: 1rem;

    --background: var(--bg);
    --foreground: var(--denim);

    --warning: 38 92% 50%;
    --warning-foreground: 48 96% 89%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --sidebar: var(--purple);

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: var(--denim);
    --primary-foreground: var(--white);

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: var(--grey);
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: var(--light-grey);
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: var(--red-error);
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: var(--borders);
    --ring: var(--denim);

    --radius: var(--rounded-sm);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    font-family: 'Ubuntu', system-ui, sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }

  #root {
    @apply sm:min-h-screen sm:grid sm:content-center;
  }
}
